/* header */

body {
    margin: 0;
}

main,footer {
    padding: 0 50px;
}

header {
    display: flex;
    justify-content: space-between;
    height: 79px;
}

header img {
    width: 61.09px;
    height: 19px;
    padding: 30px 50px 30px 50px;
    gap: 10px;
}

nav {
    width: 344px;
    height: 35px;
    gap: 68px;
    display: flex;
    justify-content: center;
}

.THEB {
    width: 113px;
}

.TACT {
    width: 63px;
}

nav a {
    display: flex;
    align-items: flex-end;
}

nav a:hover {
    color: #0065FC;
    border-top: 2px #0065FC solid;
}

/* end of header */

/* Titre et form */

.recherche {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 281px;
}

.Rtitre {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Rtitre h1 {
    margin: 0;
    font-weight: 700;
    font-size: 22px;
}

.Rtitre p {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
}

.Rform {
    display: flex;
    flex-direction: row;
    width: 379px;
    height: 51px;
}

.Rform label i {
    font-size: 18px;
    height: 18px;
    width: 14px;
    color: black;
}

.Rform label {
    border-radius: 15px 0 0 15px;
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 49px;
}

.Rform input {
    padding: 0;
    border: 1px solid #F2F2F2;
    border-left: 0;
    border-right: 0;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: black;
    outline: 0;
    height: 49px;
    width: 193px;
}

.Rform input::placeholder {
    color: black;
}

.Rform div {
    color:white;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    border: 1px solid #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49px;
    width: 132px;
}

.Rform div p {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

.Rform div:hover {
    cursor: pointer;
}

.Rform div i {
    display: none;
}

.Rinfo {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 24px;
}

.Rinfo p {
    margin: 0;
    display: flex;
    align-items: center;
}

.Rinfo i {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D9D9D9;
    border-radius: 90px;
    height: 22px;
    width: 22px;
    font-size: 10px;
    cursor: help;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.Rfiltres {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    gap: 15px;
}

.Rfiltres h3 {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
}

.Rfiltres div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    height: 46px;
    padding: 0px 17.5px;
}

.Rfiltres div p {
    font-weight: 700;
    font-size: 17px;
    color: black;
    margin: 0;
}

.Rfiltres div i {
    height: 22px;
    width: 22px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Rfiltres div:hover {
    background-color: #DEEBFF;
    cursor: pointer;
}

/* end of titre et form */

/* cards */

.hebergements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.HEBtit {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
}

.HEBstit {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
}

.line {
    height: 207.25px;
}

.line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.kard {
    width: 30.8%;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    gap: 4px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.kard img {
    object-fit: cover;
    width: 100%;
    height: 114px;
    border-radius: 20px 20px 0 0;
}

.kardT p {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
}

.kardT {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    padding: 0 15px;
    height: 64.25px;
    justify-content: space-between;
}

.kardT div {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 13.25px;
}

.kardT h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
}

/* end of cards */

/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}